[Unit]
Description=TheFileTree GitHub push hook

[Service]
ExecStart=/home/dom/tree/admin/setup/update
Restart=on-failure

[Install]
WantedBy=multi-user.target
