
  html {font-family: "Ubuntu Mono", monospace;}
  a, a:visited {text-decoration: none;}
  header, section {display: table-cell; vertical-align: middle; padding: 20px;}
  footer {
    border-top: 1px solid #ccc; padding-top: 10px; width: 90%; margin: 0 auto;
    font-size: 0.8em;
  }
  footer #copy {float: right; color: silver; padding: 5px;}
  footer a, footer a:visited {color: #5d5d5d; padding: 5px;}
  footer a:hover {text-decoration: underline;}
  .button {
    -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
    -moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.6);
    -webkit-box-shadow:0 1px 0 rgba(0, 0, 0, 0.6);
    box-shadow:0 1px 0 rgba(0, 0, 0, 0.6);

    font-weight:bold; color: #fff; text-align: center; padding:8px 20px;
  }
  .try {
    background: -moz-linear-gradient(19% 75% 90deg, #AA1317, #ED1C24);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ED1C24), to(#AA1317));
  }
  .try:hover {
    background: -moz-linear-gradient(19% 75% 90deg, #EB4701, #F58423);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F58423), to(#EB4701));
  }
  .join {
    background: -moz-linear-gradient(19% 75% 90deg, #0078A5, #00ADEE);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00ADEE), to(#0078A5));
  }
  .join:hover {
    background: -moz-linear-gradient(19% 75% 90deg, #EB4701, #F58423);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F58423), to(#EB4701));
  }
  .irc {
    background: -moz-linear-gradient(19% 75% 90deg, #575757, #888);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888), to(#575757));
  }
  .irc:hover {
    background: -moz-linear-gradient(19% 75% 90deg, #EB4701, #F58423);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F58423), to(#EB4701));
  }
