html {font-family: "Ubuntu Mono", monospace; }
a, a:visited {text-decoration: none;}
header, nav {vertical-align: middle; padding: 10px; display: table-cell;}
nav {width: 100%}
section {text-align: center; margin: auto; padding: 20px;}
footer {
  border-top: 1px solid #ccc; margin: auto;
  font-size: 0.8em; display: block;
}
footer #copy {color: silver; padding: 10px; display: block; float: right;}
footer a, footer a:visited {color: #5d5d5d; padding: 10px; display: block; float: left;}
footer a:hover {text-decoration: underline;}
iframe {
  border: 1px solid #ddd; height: 350px; width: 50%; max-width: 700px; min-width: 450px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
}
.buttons {display: table; margin: auto; padding-right: 20%}
.button {
  -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
  -moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.6);
  -webkit-box-shadow:0 1px 0 rgba(0, 0, 0, 0.6);
  box-shadow:0 1px 0 rgba(0, 0, 0, 0.6);
  font-weight:bold; color: #fff; text-align: center;
  padding:8px 20px; display: block; margin: 3px; float: left;
}
.button:hover {opacity: 0.7;}
.try {
  background-color: #ED1C24;
  /*background-image: url(img/fallback-gradient-red.png);*/
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ED1C24), to(#AA1317));
  background-image: -webkit-linear-gradient(top, #ED1C24, #AA1317);
  background-image:    -moz-linear-gradient(top, #ED1C24, #AA1317);
  background-image:     -ms-linear-gradient(top, #ED1C24, #AA1317);
  background-image:      -o-linear-gradient(top, #ED1C24, #AA1317);
}
.wiki {
  background-color: #00ADEE;
  /*background-image: url(img/fallback-gradient-blue.png);*/
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00ADEE), to(#0078A5));
  background-image: -webkit-linear-gradient(top, #00ADEE, #0078A5);
  background-image:    -moz-linear-gradient(top, #00ADEE, #0078A5);
  background-image:     -ms-linear-gradient(top, #00ADEE, #0078A5);
  background-image:      -o-linear-gradient(top, #00ADEE, #0078A5);
}
.irc {
  background-color: #888;
  /*background-image: url(img/fallback-gradient-grey.png);*/
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888), to(#575757));
  background-image: -webkit-linear-gradient(top, #888, #575757);
  background-image:    -moz-linear-gradient(top, #888, #575757);
  background-image:     -ms-linear-gradient(top, #888, #575757);
  background-image:      -o-linear-gradient(top, #888, #575757);
}
